/* project image zoom effect */
.zoom-effect {
    overflow: hidden;
    transition: transform 0.3s ease-out;
  }
  
  .zoom-effect:hover {
    transform: scale(1.1);
  }
  
  .col-md-4{
    margin-bottom: 13px;
  }
  .col-md-4{
    padding-left: 0px;
  }

  .p{
    color:white;
  }